<?php

use Doctrine\ORM\Mapping\Driver\AnnotationDriver;

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params'      => [
                    'charset'  => 'utf8',
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'bookshelf',
                    'password' => 'bookshelf',
                    'dbname'   => 'bookshelf',
                ],
            ],
        ],
        'driver'     => [
            'Doctrine_driver' => [
                'class' => AnnotationDriver::class,
                'cache' => 'array',
                'paths' => [
                    __DIR__ . '/../../module/Application/src/Entity',
                ],
            ],
            'orm_default' => [
                'drivers' => [
                    'Application\\Entity' => 'Doctrine_driver',
                ],
            ],
        ],
    ],
];
